body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.controls input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#userList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.user {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: left;
}

.user h3 {
    margin: 0;
    font-size: 18px;
}

.hidden {
    display: none;
}

#pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

#pagination button {
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

#userDetails, #editUserForm {
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
